/*公共样式...可重复利用的*/

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #333;
}
li{
    list-style-type: none;
}
body{
    background: #f3f3f3;
    display: block;
    overflow-x: hidden;
    font-size:16px;
    color:#333;
    font-family: "微软雅黑";
}
/* 清楚默认样式 */

/*header  头部样式 */
.head{
    display: block;
    margin:0 auto;
    width: 100%;
    height: 88px;
}
.header{
    display: block;
    margin:0 auto;
    width: 1200px;
   
}

.logo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
    padding: 8px 0;
}

.logo_lef,.logo_right{
    display: flex;
    flex-direction: row;
    
}
.logo_img{
    width: 230px;
    margin-left:8px;
}
.phone_img{
    width: 64px;
    display: block;
}
.logo_img img {
    display: block;
    width: 100%;
}
.introduce{
    margin: 0 0 0 10px;
    color:#196bc0; 
}
.phone{
    margin: 0 0 0 10px;
    color:#196bc0;
}
.phone_img img {
    display: block;
    width: 100%;
}
.introduce p{
    font-size: 22px;
    line-height: 36px ;
}
.phone p{
    font-size: 22px;
    line-height: 36px ;
    color:#196bc0;
}
.introduce span{ 
    font-size: 14px;

}
.phone span{ 
    font-size: 14px;
    font-weight: bold;
    color:#196bc0;
}

/*导航栏*/
.navigation-bar{
    width: 100%;
    background: #1669c4;
    height: 68px;
}
.navigation-menu{
    width:  1200px;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    line-height: 68px;
}


/* 标题 */

.content-common-title{
    display: block;
    text-align: center;
    width: 100%;
}
.content-common-title h3{
    display: block;
    font-size: 40px;
    font-weight: bold;
    color:#196bc0;
    line-height: 48px;
}

.content-common-title .content-common-subtitle{
     display: flex;
    font-size: 28px;
    color:#196bc0;
    line-height: 36px;
    display: -webkit-flex;
    align-items:center;
    justify-content:center;
    text-transform: uppercase;
}
.content-common-subtitle img{
    width: 52px;
    height: 9px;
    display: block;
    margin-right:10px;
}
@media (min-width: 1200px)and (max-width: 1920px){
  .navigation-menu>li{
        padding:0 25px;
    }
    .navigation-menu>li>a{
        color: #ffffff;
        font-size: 18px;
    }
    .navigation-active{
        background: white;
        color: #1669c4!important;
        padding:10px 20px 25px 20px;
        border-top-left-radius:5px;
        border-top-right-radius:5px
    }
    .content-common-title h3{
        font-size: 36px;
        line-height: 42px;
    }
    .content-common-title .content-common-subtitle{
        font-size: 20px;
        line-height: 28px;
    }
    .content-common-subtitle img{
        width: 46px;
        height: 8px;
        margin-right:8px;
    }

}

@media (min-width: 960px)and (max-width: 1199px){
    .header{
        width: 90%
   }
   .navigation-menu{
        width: 90%;
   }
    .navigation-menu>li{
        padding:0 25px;
    }
    .navigation-menu>li>a{
        color: #ffffff;
        font-size: 18px;
    }
    .navigation-active{
        background: white;
        color: #1669c4!important;
        padding:10px 20px 25px 20px;
        border-top-left-radius:5px;
        border-top-right-radius:5px
    }

     .content-common-title h3{
        font-size: 30px;
        line-height: 36px;
    }
    .content-common-title .content-common-subtitle{
        font-size: 16px;
        line-height: 24px;

    }
    .content-common-subtitle img{
        width: 40px;
        height: 8px;
        margin-right:8px;
    }
}

@media (min-width: 753px)and (max-width: 959px) {
    .header{
        width: 90%
   }
   .navigation-menu{
        width: 90%;
   }
    .navigation-menu>li{
        padding:0 17px;
    }
    .navigation-menu>li>a{
        color: #ffffff;
        font-size: 16px;
    }
    .navigation-active{
        background: white;
        color: #1669c4!important;
        padding:10px 10px 25px 10px;
        border-top-left-radius:5px;
        border-top-right-radius:5px
    }
     .content-common-title h3{
        font-size: 30px;
        line-height: 46px;
    }
    .content-common-title .content-common-subtitle{
        font-size: 16px;
        line-height: 24px;
    }
    .content-common-subtitle img{
        width: 46px;
        height: 8px;
        margin-right:8px;
    }
}

@media (min-width: 595px)and (max-width: 752px) {
    body {
        font-size:14px;
    }
    
    .header{
        width: 90%
   }
   .logo_img {
        width: 200px;
        margin-left: 8px;
    }
    .phone_img {
        width: 60px;
        display: block;
    }

   .introduce p {
        line-height: 30px;
    }
    .phone p {
        line-height: 30px;
    }
   .navigation-menu{
        width: 90%;
   }
    .navigation-menu>li{
        padding:0 10px;
    }
    .navigation-menu>li>a{
        color: #ffffff;
        font-size: 14px;
    }
    .navigation-active{
        background: white;
        color: #1669c4!important;
        padding:10px 10px 25px 10px;
        border-top-left-radius:5px;
        border-top-right-radius:5px
    }
     .content-common-title h3{
        font-size: 24px;
        line-height: 30px;
    }
    .content-common-title .content-common-subtitle{
        font-size: 16px;
        line-height: 24px;
    }
    .content-common-subtitle img{
        width: 46px;
        height: 8px;
        margin-right:8px;
    }
}
@media (min-width: 321px)and (max-width: 595px){
    body {
        font-size:12px;
    }
    .logo{
        padding: 8px 0;
    }
    .logo_img{
        width: 100px;
        margin-left:0;
    }
    .introduce{
        margin-left:2px;
    }
    .introduce p {
        font-size: 10px;
        line-height: 12px;
    }
    .phone p {
         font-size: 10px;
        line-height: 12px;
    }
    .introduce span {
        font-size: 8px;
    }
     .phone span {
        font-size: 8px;
    }
    .phone_img{
        width: 24px;
    }
     .header{
        width: 90%
   }
    .navigation-bar{
        height: 31px;

    }
     .header{
        width: 90%
   }
   .navigation-menu{
        width: 90%;
   }
    .navigation-menu{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        line-height: 31px;
        padding: 0 5px;
    }
    .navigation-menu>li>a{
        color: #ffffff;
        font-size: 12px;
    }
    .navigation-active{
        background: white;
        color: #1669c4!important;
        padding:7px 7px 7px 7px;
        border-top-left-radius:5px;
        border-top-right-radius:5px
    }
    .content-common-title h3{
        font-size:18px;
        line-height: 24px;
    }
    .content-common-title .content-common-subtitle{
        font-size: 12px;
        line-height: 18px;
    }
    .content-common-subtitle img{
        width: 36px;
        height: 6px;
        margin-right:6px;
    }
}
@media (max-width: 320px) {
    body {
        font-size:10px;
    }
    .logo{
        padding: 8px 0;
    }
    .logo_img{
        width: 80px;
        margin-left:0;
    }
    .introduce{
        margin-left:2px;
    }
    .introduce p {
        font-size: 10px;
        line-height: 12px;
    }
    .phone p {
         font-size: 10px;
        line-height: 12px;
    }
    .introduce span {
        font-size: 8px;
    }
     .phone span {
        font-size: 8px;
    }
    .phone_img{
        width: 24px;
    }
     .header{
        width: 90%
   }
    .navigation-bar{
        height: 24px;

    }
    .navigation-menu{
        width:  90%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        line-height: 24px;
        padding: 0 3px;
    }
    .navigation-menu>li>a{
        color: #ffffff;
        font-size: 8px;
    }
    .navigation-active{
        background: white;
        color: #1669c4!important;
        padding:5px 5px 5px 5px;
        border-top-left-radius:5px;
        border-top-right-radius:5px
    }


     .content-common-title h3{
        font-size:14px;
        line-height: 20px;
    }
    .content-common-title .content-common-subtitle{
        font-size: 8px;
        line-height: 18px;
    }
    .content-common-subtitle img{
        width: 36px;
        height: 6px;
        margin-right:6px;
    }
}
