/*公共样式...可重复利用的*/

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #333;
}
li{
    list-style-type: none;
}
body{
    background: #f3f3f3;
    display: block;
    overflow-x: hidden;
    font-size:16px;
    color:#333;
    font-family: "微软雅黑";
}
/* 清楚默认样式 */

/*header  头部样式 */
.head{
    display: block;
    margin:0 auto;
    width: 100%;
    height: 88px;
}
.header{
    display: block;
    margin:0 auto;
    width: 1200px;
   
}

.logo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
    padding: 8px 0;
}

.logo_lef,.logo_right{
    display: flex;
    flex-direction: row;
    
}
.logo_img{
    width: 230px;
    margin-left:8px;
}
.phone_img{
    width: 64px;
    display: block;
}
.logo_img img {
    display: block;
    width: 100%;
}
.introduce{
    margin: 0 0 0 10px;
    color:#196bc0; 
}
.phone{
    margin: 0 0 0 10px;
    color:#196bc0;
}
.phone_img img {
    display: block;
    width: 100%;
}
.introduce p{
    font-size: 22px;
    line-height: 36px ;
}
.phone p{
    font-size: 22px;
    line-height: 36px ;
    color:#196bc0;
}
.introduce span{ 
    font-size: 14px;

}
.phone span{ 
    font-size: 14px;
    font-weight: bold;
    color:#196bc0;
}

/*导航栏*/
.navigation-bar{
    width: 100%;
    background: #1669c4;
    height: 68px;
}
.navigation-menu{
    width:  1200px;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    line-height: 68px;
}


/* 标题 */

.content-common-title{
    display: block;
    text-align: center;
    width: 100%;
    margin: 80px auto 48px ;
}

.content-common-title h3{
    display: block;
    font-size: 40px;
    font-weight: bold;
    color:#196bc0;
    line-height: 48px;
}

.content-common-title .content-common-subtitle{
     display: flex;
    font-size: 28px;
    color:#196bc0;
    line-height: 36px;
    display: -webkit-flex;
    align-items:center;
    justify-content:center;
    text-transform: uppercase;
}
.content-common-subtitle img{
    width: 52px;
    height: 9px;
    display: block;
    margin-right:10px;
}

/*footer*/
footer{
    display: block;
    background: #6c6c6c;
    overflow: hidden;
    margin-top: 36px;
    padding:  100px 0 90px;
}

.footer{
    display: flex;
    justify-content: space-between;
    margin:  0 auto;
    color:#fff;
    width:1200px;

}
.foot_logo{
    width: 20%;
    display: block;
    text-align: center;
}
.foot_logo img {
    max-width: 100%;
}
.foot_logo p{
    font-size: 28px;
    line-height: 44px;
}
.ewm{
    display: inline-block;
    margin:28px 0 12px;
}
.foot-content{
    display: block;
    width: 40%;
    text-align: left;

}
.foot-content span{
    display: block;
    line-height: 54px;
    font-size: 18px;
}
.foot-text{
    display: block;
    width: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 25px 0 60px
}
.foot-title{
    display: block;
    line-height: 54px;
    font-size: 24px;
    letter-spacing: 10px;
}

.foot_link{
    display: block;
    width: 20%;
    text-align: center;
}
.foot_link_title{
    font-size: 30px;
    line-height: 54px;
    margin-bottom: 20px
}
.foot_link li{
   display: block;
   width:100% ;
   color: #fff;
   line-height: 38px;
   letter-spacing: 8px;

}
.foot_link li a{
    color:#fff;
}
/*  在线服务 */
.service{
    display: block;
    position: fixed;
    right: 10px;
    bottom:130px;
    width: 70px;
    background: #1669c4;
    z-index: 2222;
}
.service div{
    display: block;
    width:  60px; 
    margin:0 auto;
    border-bottom: 1px solid #fff;
    color:#fff;
    text-align: center;
    padding: 10px 0 ;
    box-sizing: border-box;
    line-height: 26px;
    cursor: pointer;
}
.service a{
    color:#fff;
    font-size: 14px;
}
.service div img{
    display: block;
    width:  36px;
    height: 36px;
    margin: 0 auto;
}
.service .weibo{
   border-bottom: none;
}
.service .weixin{
    position: relative;
}

.service  .weixin_erweima{
    display: none;
    border: 1px solid #666;
    padding: 5px;
    position: absolute;
    left: -110px;
    top:-25px;
    width: 100px;
    box-sizing: border-box;
    height: auto;
    background: #eee;
}
.service .weixin_erweima img{
    width: 88px;
    display: block;
    height: auto;
}
.service .weixin_erweima span{
    display: block;
    width: 100%;
    font-size: 12px;
    text-align: center;
    color:#666;

}
.service .weixin:hover .weixin_erweima{
    display: block;
}
@media (min-width: 1200px)and (max-width: 1920px){
  .navigation-menu>li{
        padding:0 25px;
    }
    .navigation-menu>li>a{
        color: #ffffff;
        font-size: 18px;
    }
    .navigation-active{
        background: white;
        color: #1669c4!important;
        padding:10px 20px 25px 20px;
        border-top-left-radius:5px;
        border-top-right-radius:5px
    }
    .content-common-title h3{
        font-size: 36px;
        line-height: 42px;
    }
    .content-common-title .content-common-subtitle{
        font-size: 20px;
        line-height: 28px;
    }
    .content-common-subtitle img{
        width: 46px;
        height: 8px;
        margin-right:8px;
    }
    .content-common-title{
        margin: 70px auto 40px ;
    }
}

@media (min-width: 960px)and (max-width: 1199px){
    .header{
        width: 90%
   }
   .content-common-title{
        margin: 60px auto 32px ;
    }
   .navigation-menu{
        width: 90%;
   }
    .navigation-menu>li{
        padding:0 25px;
    }
    .navigation-menu>li>a{
        color: #ffffff;
        font-size: 18px;
    }
    .navigation-active{
        background: white;
        color: #1669c4!important;
        padding:10px 20px 25px 20px;
        border-top-left-radius:5px;
        border-top-right-radius:5px
    }

     .content-common-title h3{
        font-size: 30px;
        line-height: 36px;
    }
    .content-common-title .content-common-subtitle{
        font-size: 16px;
        line-height: 24px;

    }
    .content-common-subtitle img{
        width: 40px;
        height: 8px;
        margin-right:8px;
    }
    footer{
        margin-top: 30px;
        padding:  90px 0 81px;
    }

    .footer{
        width:90%;

    }

    .foot_logo p{
        font-size: 26px;
        line-height: 40px;
    }
    .ewm{
        margin:20px 0 8px;
    }

    .foot-content span{
        line-height: 50px;
        font-size: 16px;
    }
    .foot-text{
        padding: 22px 0 40px
    }
    .foot-title{
        line-height: 54px;
        font-size: 24px;
        letter-spacing: 10px;
    }

    .foot_link_title{
        font-size: 30px;
        line-height: 54px;
        margin-bottom: 20px
    }
    .foot_link li{
       line-height: 38px;
       letter-spacing: 8px;

    }
    .foot_link li a{
        color:#fff;
    }
}

@media (min-width: 753px)and (max-width: 959px) {
    .header{
        width: 90%
   }
   .content-common-title{
        margin: 50px auto 24px ;
    }
   .navigation-menu{
        width: 90%;
   }
    .navigation-menu>li{
        padding:0 17px;
    }
    .navigation-menu>li>a{
        color: #ffffff;
        font-size: 16px;
    }
    .navigation-active{
        background: white;
        color: #1669c4!important;
        padding:10px 10px 25px 10px;
        border-top-left-radius:5px;
        border-top-right-radius:5px
    }
     .content-common-title h3{
        font-size: 30px;
        line-height: 46px;
    }
    .content-common-title .content-common-subtitle{
        font-size: 16px;
        line-height: 24px;
    }
    .content-common-subtitle img{
        width: 46px;
        height: 8px;
        margin-right:8px;
    }
    footer{
        margin-top: 30px;
        padding:  80px 0 72px;
    }

    .footer{
        width:90%;

    }

    .foot_logo p{
        font-size: 22px;
        line-height: 36px;
    }
    .ewm{
        margin:16px 0 6px;
    }

   
.foot-content span {
    line-height: 46px;
    font-size: 12px;

}
    .foot-text{
        padding: 22px 0 40px
    }
    .foot-title{
        line-height: 48px;
        font-size: 20px;
        letter-spacing: 8px;
    }

    .foot_link_title{
        font-size: 26px;
        line-height: 48px;
        margin-bottom: 16px
    }
    .foot_link li{
       line-height: 34px;
       letter-spacing: 6px;

    }
}

@media (min-width: 595px)and (max-width: 752px) {
    body {
        font-size:14px;
    }
    .content-common-title{
    margin: 40px auto 12px ;
}
    .header{
        width: 90%
   }
   .logo_img {
        width: 200px;
        margin-left: 8px;
    }
    .phone_img {
        width: 60px;
        display: block;
    }

   .introduce p {
        line-height: 30px;
    }
    .phone p {
        line-height: 30px;
    }
   .navigation-menu{
        width: 90%;
   }
    .navigation-menu>li{
        padding:0 10px;
    }
    .navigation-menu>li>a{
        color: #ffffff;
        font-size: 14px;
    }
    .navigation-active{
        background: white;
        color: #1669c4!important;
        padding:10px 10px 25px 10px;
        border-top-left-radius:5px;
        border-top-right-radius:5px
    }
     .content-common-title h3{
        font-size: 24px;
        line-height: 30px;
    }
    .content-common-title .content-common-subtitle{
        font-size: 16px;
        line-height: 24px;
    }
    .content-common-subtitle img{
        width: 46px;
        height: 8px;
        margin-right:8px;
    }
    footer{
         padding: 30px 0 40px;
    }
    .footer{
        width:90%;

    }

    .foot_logo p{
        font-size: 18px;
        line-height: 30px;
    }
    .ewm{
        margin:14px 0 4px;
    }

    .foot-content span {
        line-height: 24px;
        font-size: 12px;
    }
    .foot-text{
        padding: 14px 0 20px
    }
   .foot-title {
        line-height: 40px;
        font-size: 14px;
        letter-spacing: 5px;
    }

    .foot_link_title{
        font-size: 22px;
        line-height: 40px;
        margin-bottom: 16px
    }
    .foot_link li{
       line-height: 30px;
       letter-spacing: 6px;

    }
   
}
@media (min-width: 321px)and (max-width: 595px){
    body {
        font-size:12px;
    }
    .content-common-title{
        margin: 20px auto 8px ;
    }
    .logo{
        padding: 8px 0;
    }
    .logo_img{
        width: 100px;
        margin-left:0;
    }
    .introduce{
        margin-left:2px;
    }
    .introduce p {
        font-size: 10px;
        line-height: 12px;
    }
    .phone p {
         font-size: 10px;
        line-height: 12px;
    }
    .introduce span {
        font-size: 8px;
    }
     .phone span {
        font-size: 8px;
    }
    .phone_img{
        width: 24px;
    }
     .header{
        width: 90%
   }
    .navigation-bar{
        height: 31px;

    }
     .header{
        width: 90%
   }
   .navigation-menu{
        width: 90%;
   }
    .navigation-menu{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        line-height: 31px;
        padding: 0 5px;
    }
    .navigation-menu>li>a{
        color: #ffffff;
        font-size: 12px;
    }
    .navigation-active{
        background: white;
        color: #1669c4!important;
        padding:7px 7px 7px 7px;
        border-top-left-radius:5px;
        border-top-right-radius:5px
    }
    .content-common-title h3{
        font-size:18px;
        line-height: 24px;
    }
    .content-common-title .content-common-subtitle{
        font-size: 12px;
        line-height: 18px;
    }
    .content-common-subtitle img{
        width: 36px;
        height: 6px;
        margin-right:6px;
    }
    footer {
        padding: 20px 0 30px;
    }
      .footer{
        width:90%;

    }

    .foot_logo p{
        font-size: 14px;
        line-height: 24px;
    }
    .ewm{
        margin:10px 0 2px;
    }

    .foot-content span {
        line-height: 16px;
       font-size: 8px;
    }
    .foot-text{
        padding: 5px 0 10px;
    }
   .foot-title {
    line-height: 24px;
    font-size: 12px;
    letter-spacing: 0px;
}

   .foot_link_title {
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 16px;
}
    .foot_link li{
       line-height: 20px;
       font-size: 10px;
       letter-spacing: 0px;

    }
}
@media (max-width: 320px) {
    body {
        font-size:10px;
    }
    .content-common-title{
        margin: 16px auto 5px ;
    }
    .logo{
        padding: 8px 0;
    }
    .logo_img{
        width: 80px;
        margin-left:0;
    }
    .introduce{
        margin-left:2px;
    }
    .introduce p {
        font-size: 10px;
        line-height: 12px;
    }
    .phone p {
         font-size: 10px;
        line-height: 12px;
    }
    .introduce span {
        font-size: 8px;
    }
     .phone span {
        font-size: 8px;
    }
    .phone_img{
        width: 24px;
    }
     .header{
        width: 90%
   }
    .navigation-bar{
        height: 24px;

    }
    .navigation-menu{
        width:  90%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        line-height: 24px;
        padding: 0 3px;
    }
    .navigation-menu>li>a{
        color: #ffffff;
        font-size: 8px;
    }
    .navigation-active{
        background: white;
        color: #1669c4!important;
        padding:5px 5px 5px 5px;
        border-top-left-radius:5px;
        border-top-right-radius:5px
    }


     .content-common-title h3{
        font-size:14px;
        line-height: 20px;
    }
    .content-common-title .content-common-subtitle{
        font-size: 8px;
        line-height: 18px;
    }
    .content-common-subtitle img{
        width: 36px;
        height: 6px;
        margin-right:6px;
    }
    footer{
        padding: 20px 0 10px
    }
      .footer{
        width:90%;

    }

    .foot_logo p{
        font-size: 12px;
        line-height: 24px;
    }
    .ewm{
        margin:10px 0 2px;
    }

   .foot-content span {
        line-height: 12px;
        font-size: 6px;
    }
    .foot-text{
        padding: 12px 0 20px
    }
   .foot-title {
        line-height: 24px;
        font-size: 8px;
        letter-spacing: 0px;
    }

    .foot_link_title{
        font-size: 12px;
        line-height: 24px;
        margin-bottom: 16px
    }
    .foot_link li{
       line-height: 12px;
       letter-spacing: 0px;

    }
}
