.content-wrap{
    width: 100%;
    background: white;
}
.content-img{
    width: 100%;
}
.content-teacher-img{
    width: 100%;
    overflow: hidden;
}
.content-img-auto>img{
    width: 100%;
}
.first-img{
    position: relative;
}
.last-img{
    margin-left: 30px;
    position: relative;
}
.first-img:hover .mask{
    display: none;
}
.last-img:hover .mask1{
    display: none;
}

@media (min-width: 1366px) {
    .content-teacher{
        width: 1200px;
        margin: 0 auto;
        /*background: #f3f3f3;*/
    }
    .content-img-auto{
        width: 822px;
        margin: auto;
        position: relative;
    }
    .content-teacher-message>h5{
        font-size: 22px;
        position: absolute;
        top: 90px;
        left: 350px;
    }
    .content-teacher-message>h6{
        font-size: 20px;
        position: absolute;
        top: 120px;
        left: 350px;
    }
    .content-teacher-message>p{
        width: 260px;
        font-size: 18px;
        position: absolute;
        top: 180px;
        left: 350px;
        font-weight: normal;
        line-height: 30px;
    }
    .content-img-mousemove{
        width: 822px;
        margin: 10px auto;
        display: flex;
        justify-content: flex-start;
    }
    .mask,.mask1{
        position: absolute;
        width: 120px;
        height: 120px;
        background: black;
        top: 0;
        border-radius: 50%;
        opacity: .5;
        display: block;
    }

}

@media (min-width: 1200px)and (max-width: 1365px) {
    .content-teacher{
        width:90%;
        margin: 0 auto;
    }
    .content-img-auto{
        width: 70%;
        margin: auto;
        position: relative;
    }
    .content-teacher-message>h5{
        font-size: 22px;
        position: absolute;
        top: 90px;
        left: 350px;
    }
    .content-teacher-message>h6{
        font-size: 20px;
        position: absolute;
        top: 120px;
        left: 350px;
    }
    .content-teacher-message>p{
        width: 260px;
        font-size: 18px;
        position: absolute;
        top: 180px;
        left: 350px;
        font-weight: normal;
        line-height: 30px;
    }
    .content-img-mousemove{
        width:70%;
        margin: 10px auto;
        display: flex;
        justify-content: flex-start;
    }
    .mask,.mask1{
        position: absolute;
        width: 120px;
        height: 120px;
        background: black;
        top: 0;
        border-radius: 50%;
        opacity: .5;
        display: block;
    }
}

@media (min-width: 1100px)and (max-width: 1199px){
    .content-teacher{
        width:90%;
        margin: 0 auto;
    }
    .content-img-auto{
        width: 70%;
        margin: auto;
        position: relative;
    }
    .content-teacher-message>h5{
        font-size: 22px;
        position: absolute;
        top: 70px;
        left: 350px;
    }
    .content-teacher-message>h6{
        font-size: 20px;
        position: absolute;
        top: 100px;
        left: 350px;
    }
    .content-teacher-message>p{
        width: 260px;
        font-size: 18px;
        position: absolute;
        top: 150px;
        left: 350px;
        font-weight: normal;
        line-height: 30px;
    }
    .content-img-mousemove{
        width:70%;
        margin: 10px auto;
        display: flex;
        justify-content: flex-start;
    }
    .mask,.mask1{
        position: absolute;
        width: 120px;
        height: 120px;
        background: black;
        top: 0;
        border-radius: 50%;
        opacity: .5;
        display: block;
    }
}

@media (min-width: 950px)and (max-width: 1099px) {
    .content-teacher{
        width:90%;
        margin: 0 auto;
    }
    .content-img-auto{
        width: 80%;
        margin: auto;
        position: relative;
    }
    .content-teacher-message>h5{
        font-size: 20px;
        position: absolute;
        top: 70px;
        left: 320px;
    }
    .content-teacher-message>h6{
        font-size: 18px;
        position: absolute;
        top:100px;
        left: 320px;
    }
    .content-teacher-message>p{
        width: 260px;
        font-size: 18px;
        position: absolute;
        top: 150px;
        left: 320px;
        font-weight: normal;
        line-height: 30px;
    }
    .content-img-mousemove{
        width:80%;
        margin: 10px auto;
        display: flex;
        justify-content: flex-start;
    }
    .mask,.mask1{
        position: absolute;
        width: 120px;
        height: 120px;
        background: black;
        top: 0;
        border-radius: 50%;
        opacity: .5;
        display: block;
    }
}

@media (min-width: 900px)and (max-width: 949px) {
    .content-teacher{
        width:90%;
        margin: 0 auto;
    }
    .content-img-auto{
        width: 80%;
        margin: auto;
        position: relative;
    }
    .content-teacher-message>h5{
        font-size: 20px;
        position: absolute;
        top: 70px;
        left: 300px;
    }
    .content-teacher-message>h6{
        font-size: 18px;
        position: absolute;
        top:100px;
        left: 300px;
    }
    .content-teacher-message>p{
        width: 260px;
        font-size: 18px;
        position: absolute;
        top: 150px;
        left: 300px;
        font-weight: normal;
        line-height: 30px;
    }
    .content-img-mousemove{
        width:80%;
        margin: 10px auto;
        display: flex;
        justify-content: flex-start;
    }
    .mask,.mask1{
        position: absolute;
        width: 120px;
        height: 120px;
        background: black;
        top: 0;
        border-radius: 50%;
        opacity: .5;
        display: block;
    }
}

@media (min-width: 770px)and (max-width: 899px) {
    .content-teacher{
        width:90%;
        margin: 0 auto;
    }
    .content-img-auto{
        width: 80%;
        margin: auto;
        position: relative;
    }
    .content-teacher-message>h5{
        font-size: 18px;
        position: absolute;
        top: 50px;
        left: 250px;
    }
    .content-teacher-message>h6{
        font-size: 16px;
        position: absolute;
        top:80px;
        left: 250px;
    }
    .content-teacher-message>p{
        width: 260px;
        font-size: 15px;
        position: absolute;
        top: 120px;
        left: 250px;
        font-weight: normal;
        line-height: 30px;
    }
    .content-img-mousemove{
        width:80%;
        margin: 10px auto;
        display: flex;
        justify-content: flex-start;
    }
    .mask,.mask1{
        position: absolute;
        width: 120px;
        height: 120px;
        background: black;
        top: 0;
        border-radius: 50%;
        opacity: .5;
        display: block;
    }
}

@media (min-width: 720px) and (max-width: 769px) {
    .content-teacher{
        width:90%;
        margin: 0 auto;
    }
    .content-img-auto{
        width: 80%;
        margin: auto;
        position: relative;
    }
    .content-teacher-message>h5{
        font-size: 18px;
        position: absolute;
        top: 50px;
        left: 230px;
    }
    .content-teacher-message>h6{
        font-size: 16px;
        position: absolute;
        top:80px;
        left: 230px;
    }
    .content-teacher-message>p{
        width: 260px;
        font-size: 15px;
        position: absolute;
        top: 120px;
        left: 230px;
        font-weight: normal;
        line-height: 30px;
    }
    .content-img-mousemove{
        width:80%;
        margin: 10px auto;
        display: flex;
        justify-content: flex-start;
    }
    .mask,.mask1{
        position: absolute;
        width: 120px;
        height: 120px;
        background: black;
        top: 0;
        border-radius: 50%;
        opacity: .5;
        display: block;
    }
}

@media (min-width: 670px)and (max-width: 719px) {
    .content-teacher{
        width:90%;
        margin: 0 auto;
    }
    .content-img-auto{
        width: 80%;
        margin: auto;
        position: relative;
    }
    .content-teacher-message>h5{
        font-size: 15px;
        position: absolute;
        top: 50px;
        left: 200px;
    }
    .content-teacher-message>h6{
        font-size: 14px;
        position: absolute;
        top:80px;
        left: 200px;
    }
    .content-teacher-message>p{
        width: 260px;
        font-size: 14px;
        position: absolute;
        top: 100px;
        left: 200px;
        font-weight: normal;
        line-height: 30px;
    }
    .content-img-mousemove{
        width:80%;
        margin: 10px auto;
        display: flex;
        justify-content: flex-start;
    }
    .mask,.mask1{
        position: absolute;
        width: 120px;
        height: 120px;
        background: black;
        top: 0;
        border-radius: 50%;
        opacity: .5;
        display: block;
    }
}

@media (min-width: 640px)and (max-width: 669px){
    .content-teacher{
        width:90%;
        margin: 0 auto;
    }
    .content-img-auto{
        width: 80%;
        margin: auto;
        position: relative;
    }
    .content-teacher-message>h5{
        font-size: 15px;
        position: absolute;
        top: 50px;
        left: 180px;
    }
    .content-teacher-message>h6{
        font-size: 14px;
        position: absolute;
        top:80px;
        left: 180px;
    }
    .content-teacher-message>p{
        width: 260px;
        font-size: 14px;
        position: absolute;
        top: 105px;
        left: 180px;
        font-weight: normal;
        line-height: 25px;
    }
    .content-img-mousemove{
        width:80%;
        margin: 10px auto;
        display: flex;
        justify-content: flex-start;
    }
    .mask,.mask1{
        position: absolute;
        width: 120px;
        height: 120px;
        background: black;
        top: 0;
        border-radius: 50%;
        opacity: .5;
        display: block;
    }
}

@media (min-width: 519px)and (max-width: 639px){
    .content-teacher{
        width:90%;
        margin: 0 auto;
    }
    .content-img-auto{
        width: 100%;
        margin: auto;
        position: relative;
    }
    .content-teacher-message>h5{
        font-size: 14px;
        position: absolute;
        top: 70px;
        left: 230px;
    }
    .content-teacher-message>h6{
        font-size: 13px;
        position: absolute;
        top:100px;
        left: 230px;
    }
    .content-teacher-message>p{
        width: 260px;
        font-size: 13px;
        position: absolute;
        top: 120px;
        left: 230px;
        font-weight: normal;
        line-height: 25px;
    }
    .content-img-mousemove{
        width:80%;
        margin: 10px auto;
        display: flex;
        justify-content: flex-start;
    }
    .mask,.mask1{
        position: absolute;
        width: 120px;
        height: 120px;
        background: black;
        top: 0;
        border-radius: 50%;
        opacity: .5;
        display: block;
    }
}

@media (min-width: 490px)and (max-width: 518px) {
    .content-teacher{
        width:90%;
        margin: 0 auto;
    }
    .content-img-auto{
        width: 100%;
        margin: auto;
        position: relative;
    }
    .content-teacher-message>h5{
        font-size: 14px;
        position: absolute;
        top: 50px;
        left: 180px;
    }
    .content-teacher-message>h6{
        font-size: 13px;
        position: absolute;
        top:80px;
        left: 180px;
    }
    .content-teacher-message>p{
        width: 260px;
        font-size: 13px;
        position: absolute;
        top: 105px;
        left: 180px;
        font-weight: normal;
        line-height: 25px;
    }
    .content-img-mousemove{
        width:80%;
        margin: 10px auto;
        display: flex;
        justify-content: flex-start;
    }
    .mask,.mask1{
        position: absolute;
        width: 120px;
        height: 120px;
        background: black;
        top: 0;
        border-radius: 50%;
        opacity: .5;
        display: block;
    }
}

@media (min-width: 455px)and (max-width: 489px) {
    .content-teacher{
        width:90%;
        margin: 0 auto;
    }
    .content-img-auto{
        width: 100%;
        margin: auto;
        position: relative;
    }
    .content-teacher-message>h5{
        font-size: 14px;
        position: absolute;
        top: 50px;
        left: 170px;
    }
    .content-teacher-message>h6{
        font-size: 13px;
        position: absolute;
        top:80px;
        left: 170px;
    }
    .content-teacher-message>p{
        width: 240px;
        font-size: 13px;
        position: absolute;
        top: 105px;
        left: 170px;
        font-weight: normal;
        line-height: 20px;
    }
    .content-img-mousemove{
        width:100%;
        margin: 10px auto;
        display: flex;
        justify-content: flex-start;
    }
    .mask,.mask1{
        position: absolute;
        width: 120px;
        height: 120px;
        background: black;
        top: 0;
        border-radius: 50%;
        opacity: .5;
        display: block;
    }
}

@media (min-width: 430px)and (max-width: 454px){
    .content-teacher{
        width:90%;
        margin: 0 auto;
    }
    .content-img-auto{
        width: 100%;
        margin: auto;
        position: relative;
    }
    .content-teacher-message>h5{
        font-size: 14px;
        position: absolute;
        top: 40px;
        left: 140px;
    }
    .content-teacher-message>h6{
        font-size: 13px;
        position: absolute;
        top:70px;
        left: 140px;
    }
    .content-teacher-message>p{
        width: 240px;
        font-size: 13px;
        position: absolute;
        top: 95px;
        left: 140px;
        font-weight: normal;
        line-height: 20px;
        display: block;
    }
    .content-img-mousemove{
        width:100%;
        margin: 10px auto;
        display: flex;
        justify-content: flex-start;
    }
    .mask,.mask1{
        position: absolute;
        width: 120px;
        height: 120px;
        background: black;
        top: 0;
        border-radius: 50%;
        opacity: .5;
        display: block;
    }
}

@media (min-width: 415px)and (max-width: 429px) {
    .content-teacher{
        width:90%;
        margin: 0 auto;
    }
    .content-img-auto{
        width: 100%;
        margin: auto;
        position: relative;
    }
    .content-teacher-message>h5{
        font-size: 14px;
        position: absolute;
        top: 40px;
        left: 140px;
    }
    .content-teacher-message>h6{
        font-size: 13px;
        position: absolute;
        top:70px;
        left: 140px;
    }
    .content-teacher-message>p{
        width: 230px;
        font-size: 13px;
        position: absolute;
        top: 95px;
        left: 140px;
        font-weight: normal;
        line-height: 19px;
        display: block;
    }
    .content-img-mousemove{
        width:100%;
        margin: 10px auto;
        display: flex;
        justify-content: flex-start;
    }
    .mask,.mask1{
        position: absolute;
        width: 120px;
        height: 120px;
        background: black;
        top: 0;
        border-radius: 50%;
        opacity: .5;
        display: block;
    }
}

@media (min-width: 385px)and (max-width: 414px) {
    .content-teacher{
        width:90%;
        margin: 0 auto;
    }
    .content-img-auto{
        width: 100%;
        margin: auto;
        position: relative;
    }
    .content-teacher-message>h5{
        font-size: 14px;
        position: absolute;
        top: 40px;
        left: 140px;
    }
    .content-teacher-message>h6{
        font-size: 13px;
        position: absolute;
        top:60px;
        left: 140px;
    }
    .content-teacher-message>p{
        width: 210px;
        font-size: 13px;
        position: absolute;
        top: 85px;
        left: 140px;
        font-weight: normal;
        line-height: 19px;
        display: block;
    }
    .content-img-mousemove{
        width:100%;
        margin: 10px auto;
        display: flex;
        justify-content: flex-start;
    }
    .mask,.mask1{
        position: absolute;
        width: 120px;
        height: 120px;
        background: black;
        top: 0;
        border-radius: 50%;
        opacity: .5;
        display: block;
    }
}

@media (min-width: 368px)and (max-width: 384px){
    .content-teacher{
        width:90%;
        margin: 0 auto;
    }
    .content-img-auto{
        width: 100%;
        margin: auto;
        position: relative;
    }
    .content-teacher-message>h5{
        font-size: 14px;
        position: absolute;
        top: 30px;
        left: 140px;
    }
    .content-teacher-message>h6{
        font-size: 13px;
        position: absolute;
        top:45px;
        left: 140px;
    }
    .content-teacher-message>p{
        width: 185px;
        font-size: 13px;
        position: absolute;
        top: 70px;
        left: 140px;
        font-weight: normal;
        line-height: 19px;
        display: block;
    }
    .content-img-mousemove{
        width:100%;
        margin: 10px auto;
        display: flex;
        justify-content: flex-start;
    }
    .mask,.mask1{
        position: absolute;
        width: 120px;
        height: 120px;
        background: black;
        top: 0;
        border-radius: 50%;
        opacity: .5;
        display: block;
    }
}

@media (max-width: 367px){
    .content-teacher{
        width:90%;
        margin: 0 auto;
    }
    .content-img-auto{
        width: 100%;
        margin: auto;
        position: relative;
    }
    .content-teacher-message>h5{
        font-size: 14px;
        position: absolute;
        top: 20px;
        left: 130px;
    }
    .content-teacher-message>h6{
        font-size: 13px;
        position: absolute;
        top:38px;
        left: 130px;
    }
    .content-teacher-message>p{
        width: 185px;
        font-size: 13px;
        position: absolute;
        top: 55px;
        left: 130px;
        font-weight: normal;
        line-height: 19px;
        display: block;
        overflow: hidden;
    }
    .content-img-mousemove{
        width:100%;
        margin: 10px auto;
        display: flex;
        justify-content: flex-start;
    }
    .mask,.mask1{
        position: absolute;
        width: 120px;
        height: 120px;
        background: black;
        top: 0;
        border-radius: 50%;
        opacity: .5;
        display: block;
    }
}