<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/information.css">
    <title>就业信息</title>
</head>
<body>
<!--头部公共部分-->
<div>导航公共部分</div>

<div class="content-wrap">
    <!--第一幅图-->
    <div>
        <img src="../images/infomation.png" alt="" class="content-img">
    </div>
    <!--小标题-->
    <div class="content-common-title">
        <h3>就业信息</h3>
        <p class="content-common-subtitle">
            <img src="../images/public/titel_img.png">
            <span>PROFESSIONAL TEAM</span>
        </p>
    </div>
    <div class="list-wrap">
        <div class="list-left">
            <p>
                <span>姓名</span>
                <span>学历</span>
                <span>专业</span>
                <span>就业公司</span>
                <span>入职岗位</span>
                <span>年薪</span>
                <span>就业城市</span>
            </p>
        </div>
    </div>
</div>
</body>
</html>