<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/faculty.css">
    <script src="../js/faculty.js"></script>
    <title>师资力量</title>
</head>
<body>
<!--头部公共部分-->
<div>导航公共部分</div>
<div class="content-wrap">
    <!--第一幅图-->
    <div>
        <img src="../images/faculty.png" alt="" class="content-img">
    </div>
    <div class="content-teacher">
        <div class="content-common-title">
            <h3>师资力量</h3>
            <p class="content-common-subtitle">
               <img src="../images/public/titel_img.png">
                <span>PROFESSIONAL TEAM</span>
            </p>
        </div>
        <div class="content-teacher-img">
            <div class="content-img-auto" id="teacher_1">
                <img src="../images/teacher_1_2.png" alt="">
                <div class="content-teacher-message">
                    <h5>吴老师</h5>
                    <h6>9年软件测试高级管理专家</h6>
                    <p>拥有2年开发经验，7年测试经验，曾担任软件工程师、高级测试工程师、测试经理等职位。</p>
                </div>
            </div>
            <div class="content-img-auto" id="teacher_2" style="display: none">
                <img src="../images/teacher_1_3.png" alt="">
                <div class="content-teacher-message">
                    <h5>曲老师</h5>
                    <h6>9年软件测试经验</h6>
                    <p>中国最早一批实战项目管理专家，美国项目管理协会（PMI）认证PMP，原华为软件测试部测试经理。</p>
                </div>
            </div>
            <div class="content-img-mousemove">
                <div class="first-img">
                    <img src="../images/teacher_2_02.jpg" alt="">
                    <div class="mask"></div>
                </div>
                <div class="last-img">
                    <img src="../images/teacher_2_03.jpg" alt="">
                    <div class="mask1"></div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>