<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/faculty.css">
    <script src="../js/faculty.js"></script>
    <title>师资力量</title>
</head>
<body>
<!--头部公共部分-->
        <!-- 头部 -->
        <div id="head">
            <div class="header">
                <div class="logo">
                    <div class="logo_lef">
                        <div class="logo_img">
                            <a href="/">
                                <img src="../images/public/logo.png">
                            </a>
                            
                        </div>
                        <div class="introduce">
                            <p>值得信赖的IT机构</p>
                            <span>蓉华坚持不贷款，深耕口碑</span>
                        </div>
                    </div>
                    <div class="logo_right">
                        <div class="phone_img">
                            <a href="tel:028-88888888">
                                <img src="../images/public/phone.png">
                            </a>
                        </div>
                        <div class="phone">
                            <a href="tel:028-88888888">
                                <p>服务热线</p>
                                <span>028-88888888</span>
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <!--导航栏-->
        <header class="navigation-bar">
            <ul class="navigation-menu">
                <li><a href="" class="navigation-active">测试开发</a></li>
                <li><a href="">自动化测试</a></li>
                <li><a href="">师资力量</a></li>
                <li><a href="">就业信息</a></li>
                <li><a href="">关于蓉华</a></li>
            </ul>
        </header>
<div class="content-wrap">
    <!--第一幅图-->
    <div>
        <img src="../images/faculty.png" alt="" class="content-img">
    </div>
    <div class="content-teacher">
        <div class="content-common-title">
            <h3>师资力量</h3>
            <p class="content-common-subtitle">
               <img src="../images/public/titel_img.png">
                <span>PROFESSIONAL TEAM</span>
            </p>
        </div>
        <div class="content-teacher-img">
            <div class="img-wrap">
                <div class="teacher-item">
                    <img src="../images/mls.jpg" alt="">
                    <div class="teacher-message">
                        <h5>沈老师</h5>
                        <p>
                            前华为软件项目经理，
                            <strong>10年</strong>软件行业从业IT教育经验，
                            在电信、新能源、智能业务运维等领域有丰富的项目经验
                        </p>
                    </div>
                </div>
                <div class="teacher-item">
                    <img src="../images/sls.jpg" alt="">
                    <div class="teacher-message">
                        <h5>沈老师</h5>
                        <p>
                            前华为软件项目经理，
                            <strong>10年</strong>软件行业从业IT教育经验，
                            在电信、新能源、智能业务运维等领域有丰富的项目经验
                        </p>
                    </div>
                </div>
                <div class="teacher-item">
                    <img src="../images/sls.jpg" alt="">
                    <div class="teacher-message">
                        <h5>沈老师</h5>
                        <p>
                            前华为软件项目经理，
                            <strong>10年</strong>软件行业从业IT教育经验，
                            在电信、新能源、智能业务运维等领域有丰富的项目经验
                        </p>
                    </div>
                </div>
                <div class="teacher-item">
                    <img src="../images/sls.jpg" alt="">
                    <div class="teacher-message">
                        <h5>沈老师</h5>
                        <p>
                            前华为软件项目经理，
                            <strong>10年</strong>软件行业从业IT教育经验，
                            在电信、新能源、智能业务运维等领域有丰富的项目经验
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--底部公共-->
<!-- footer -->
        <footer>
            <div class="footer">
                <div class="foot_logo">
                    <a href="/"><img src="../images/public/footer-logo.png" class="foot-img"></a>
                    <img src="../images/public/ewm.png" class="ewm">
                    <p>扫码关注</p>
                </div>
                <div class="foot-content">
                    <p class="foot-title">
                        值得信赖的IT教育机构！
                    </p>
                    <div class="foot-text">
                        <span>成都校区地址：成都市高新区天府二街蜀都中心1期1号楼</span>
                        <span>西安校区地址：西安市经开区凤城九路海博广场B座</span>
                        <span>深圳校区地址：深圳市福田区彩田南路深圳青年大厦</span>
                    </div>
                </div>
                <div class="foot_link">
                    <div class="foot_link_title">
                        友情链接
                    </div>
                    <ul>
                        <li>
                            <a href="">宏天软件</a>
                        </li>
                        <li>
                            <a href="">宏天软件</a>
                        </li>
                    </ul>
                </div>

            </div>
        </footer>
</body>
</html>