<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/faculty.css">
    <title>师资力量</title>
</head>
<body>
    <!--头部公共部分-->
<div>导航公共部分</div>
<div class="content-wrap">
    <!--第一幅图-->
    <div>
        <img src="../images/faculty.png" alt="" class="content-img">
    </div>
    <div class="content-teacher">
        <div class="content-common-title">
            <h3>师资力量</h3>
            <p class="content-common-subtitle">
                <span></span>
                <span></span>
                <span>PROFESSIONAL</span>
                <span>TEAM</span>
            </p>
        </div>

    </div>
</div>
</body>
</html>