<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta charset="utf-8">
	<meta name="keywords" content="蓉华官网">
	<meta name="description" content="蓉华官网">
	<title>蓉华官网</title>
	<link rel="stylesheet" type="text/css" href="../css/common.css">
	<script type="text/javascript" src="../js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="../js/rem.js"></script>
</head>
<body>
	<!--  -->
	<div class="wrap">
		<!-- 头部 -->
		<div id="head">
			<div class="header">
				<div class="logo">
					<div class="logo_lef">
						<div class="logo_img">
							<a href="/">
								<img src="../images/public/logo.png">
							</a>
							
						</div>
						<div class="introduce">
							<p>值得信赖的IT机构</p>
							<span>蓉华坚持不贷款，深耕口碑</span>
						</div>
					</div>
					<div class="logo_right">
						<div class="phone_img">
							<a href="tel:028-88888888">
								<img src="../images/public/phone.png">
							</a>

						</div>
						<div class="phone">
							<a href="tel:028-88888888">
								<p>服务热线</p>
								<span>028-88888888</span>
							</a>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		<!--导航栏-->
		<header class="navigation-bar">
			<ul class="navigation-menu">
				<li><a href="" class="navigation-active">测试开发</a></li>
				<li><a href="">自动化测试</a></li>
				<li><a href="">师资力量</a></li>
				<li><a href="">就业信息</a></li>
				<li><a href="">关于蓉华</a></li>
			</ul>
		</header>
		<!-- banner -->

		
		<!-- footer -->


	</div>

</body>
</html>