<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta charset="utf-8">
    <meta name="keywords" content="蓉华官网">
    <meta name="description" content="蓉华官网">
    <title>蓉华官网</title>
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <script type="text/javascript" src="../js/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/swiper.min.css">
    <script type="text/javascript" src="../js/swiper.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <script type="text/javascript" src="../js/index.js"></script>
</head>
<body>
<!--  -->
<div class="wrap">
    <!-- 头部 -->
    <div id="head">
        <div class="header">
            <div class="logo">
                <div class="logo_lef">
                    <div class="logo_img">
                        <a href="/">
                            <img src="../images/public/logo.png">
                        </a>

                    </div>
                    <div class="introduce">
                        <p>值得信赖的IT机构</p>
                        <span>蓉华坚持不贷款，深耕口碑</span>
                    </div>
                </div>
                <div class="logo_right">
                    <div class="phone_img">
                        <a href="tel:028-88888888">
                            <img src="../images/public/phone.png">
                        </a>
                    </div>
                    <div class="phone">
                        <a href="tel:028-88888888">
                            <p>服务热线</p>
                            <span>028-88888888</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--导航栏-->
    <header class="navigation-bar">
        <ul class="navigation-menu">
            <li><a href="" class="navigation-active">测试开发</a></li>
            <li><a href="">自动化测试</a></li>
            <li><a href="">师资力量</a></li>
            <li><a href="">就业信息</a></li>
            <li><a href="">关于蓉华</a></li>
        </ul>
    </header>
    <!-- banner -->
    <div class="banner">
        <div class="swiper-container" id="banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="/">
                        <img src="../images/index/banner1.jpg">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="/">
                        <img src="../images/index/banner2.jpg">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="/">
                        <img src="../images/index/banner3.jpg">
                    </a>
                </div>

            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
        <!-- 优势 -->
        <div class="advantage">
            <ul>
                <li>
                    <div>
                        <img src="../images/index/advantage/icon1.png">
                        <p>无需基础<br/>轻松入学</p>
                    </div>


                </li>
                <li>
                    <div>
                        <img src="../images/index/advantage/icon2.png">
                        <p>学费超值<br/>无息分期</p>
                    </div>

                </li>
                <li>
                    <div>
                        <img src="../images/index/advantage/icon4.png">
                        <p>行业专家<br/>精品小班</p>
                    </div>

                </li>
                <li class="last">
                    <div>
                        <img src="../images/index/advantage/icon6.png">
                        <p>名企标准<br/>就业保障</p>
                    </div>

                </li>
            </ul>
        </div>
    </div>
    <!-- 行业前景 -->
    <div class="vista">
        <!-- title -->
        <div class="content-common-title">
            <h3>行业前景</h3>
            <p class="content-common-subtitle">
                <img src="../images/public/titel_img.png">
                <span>prospect</span>
            </p>
        </div>
        <!-- 行业前景正文 -->
        <div class="content-common-message">
            <img src="../images/index/hyqj_img.png">
            <ul class="content-message">
                <li>
                    <span class="title">市场缺口大</span>
                    <span>软件公司对软件质量越来越重视，而软件测试是软件质量的守门员。软件测试人才缺口严重，<b>缺口高达30W！</b></span>
                </li>

                <li>
                    <span class="title">行业前景好，入职起薪高</span>
                    <span>目前市场上纯功能测试的人很多，但真正自己会开发测试工具测试的人很少；2019年经过蓉华入职软件测试的平均月薪为<b>6739</b>元，最高月薪拿到<b>15500</b>元。</span>
                </li>
                <li>
                    <span class="title">入行门槛低，无性别歧视</span>
                    <span>学校很少有专门的软件测试专业，就业人群中男女比例相当。</span>
                </li>
                <li>
                    <span class="title">晋升空间大，职业发展多元化</span>
                    <span>软件测试不但可以走纯技术路线，还可以走管理路线，产品市场路线。</span>
                </li>

            </ul>
            <h3>
                为什么选择<br>软件测试
            </h3>
        </div>
    </div>

    <!-- 软件测试的职业发展 -->

    <div class="develop">
        <!-- title -->
        <div class="content-common-title">
            <h3>软件测试的职业发展</h3>
            <p class="content-common-subtitle">
                <img src="../images/public/titel_img.png">
                <span>development</span>
            </p>
        </div>
        <div class="develop-box">
            <div class="position_left"></div>
            <div class="position_right"></div>
            <!-- position_left position_right 做背景用的 没有实际数据意义-->
            <div class="content-commo-develop">
                <div class="message-left">
                    <img src="../images/index/develop_left.jpg">
                    <div class="content-message-develop">
                        <span>测试总监</span>
                        <span>测试经理</span>
                        <span>测试主管</span>
                        <span>初级测试工程师</span>
                        <b>管理路线</b>
                    </div>
                </div>
                <div class="message-right">
                    <img src="../images/index/develop_right.jpg">
                    <div class="content-message-develop">
                        <span>测试架构师</span>
                        <span>高级测试工程师</span>
                        <span>中级测试工程师</span>
                        <span>初级测试工程师</span>
                        <b>技术路线</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 就业信息 -->
    <div class="employment">
        <div class="content-common-title">
            <h3>就业信息</h3>
            <p class="content-common-subtitle">
                <img src="../images/public/titel_img.png">
                <span>Employment information</span>
            </p>
        </div>
        <!-- 就业信息 正文 -->
        <div class="row clearfix box">
            <div class="col-padding">
                <div class="course-title">
                    <a href="" target="_blank"><span class="glyphicon glyphicon-briefcase"></span> 近期就业信息&gt;&gt;</a>
                </div>
                <div class="panel panel-info">
                    <a href="">
                        <div class="panel-heading job-title">
                            <span>姓名</span>
                            <span>学历</span>
                            <span>专业</span>
                            <span>就业公司</span>
                            <span>入职岗位</span>
                            <span>年薪</span>
                            <span>就业城市</span>
                        </div>
                        <div class="panel-body job-information">
                            <div class="ul-table" id="ul-table" style="overflow-y: hidden;">
                                <ul id="uls">
                                    <li>
                                        <span>姓名</span><span>学历</span><span>专业</span><span>就业企业</span><span>职位</span><span>薪资</span><span>就业城市</span>
                                    </li>

                                    <li>
                                        <span>罗*鑫</span><span>大专</span><span>机电一体化</span><span>南京中**达软件科技有限公司</span><span>测试工程师</span><span>5.9W</span><span>成都</span>
                                    </li>

                                </ul>
                                <ul id="uls2"></ul>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-course">
                <div class="course-title">
                    <a href="" target="_blank"><span class="glyphicon glyphicon-film"></span> 学员学习之路&gt;&gt;</a>
                </div>
                <ul class="student-video">
                    <li class="student-group">
                        <a href="" target="_blank">
                            <div class="student-image">
                                <img alt="点击观看学员视频" src="../images/index/fandi2.jpg">
                            </div>
                            <div class="student-word" style="display: none;">
                                <div class="student-name">樊*迪</div>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <!-- 师资力量 -->
    <div clas="faculty">
        <div class="content-common-title">
            <h3>师资力量</h3>
            <p class="content-common-subtitle">
                <img src="../images/public/titel_img.png">
                <span>professional team</span>
            </p>
        </div>
        <div class="content-faculty">
            <div class="botm">
                <div class="tops">
                    <div class="listes" style="display: none;">
                        <img src="../images/index/teacher_1_2.png">
                        <h5>吴老师</h5>
                        <h6>9年软件测试高级管理专家</h6>
                        <p>拥有2年开发经验，7年测试经验，曾担任软件工程师、高级测试工程师、测试经理等职位。</p>
                    </div>
                    <div class="listes" style="display: block;">
                        <img src="../images/index/teacher_1_3.png">
                        <h5>曲老师</h5>
                        <h6>9年软件测试经验</h6>
                        <p>中国最早一批实战项目管理专家，美国项目管理协会（PMI）认证PMP，原华为软件测试部测试经理。</p>
                    </div>
                </div>
                <div class="bt">
                    <div class="img_list">
                        <img class="onbut" src="../images/index/teacher_2_02.jpg" style="display: none;">
                        <img class="inbut" src="../images/index/teacher_2_2.jpg" style="display: inline;">
                    </div>
                    <div class="img_list">
                        <img class="onbut" src="../images/index/teacher_2_03.jpg" style="display: inline;">
                        <img class="inbut" src="../images/index/teacher_2_3.jpg" style="display: none;">
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="clear"></div>
    <!-- 技术交流 -->
    <div class="communication">
        <div class="content-common-title">
            <h3>技术交流</h3>
            <p class="content-common-subtitle">
                <img src="../images/public/titel_img.png">
                <span>Technical communication</span>
            </p>
        </div>
        <div class="content-communication">
            <div class="content-box">
                <div class="title">
		        			<span class="content-title">
		        				<img src="../images/index/">
		        				行业资讯
		        			</span>

                    <a href=""><span>more&gt;</span></a>
                </div>
                <ul class="content-list">
                    <li>
                        <a href="">
                            .<span>这是一个类容模块</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="content-box">
                <div class="title">
		        			<span class="content-title">
		        				<img src="../images/index/">
		        				行业资讯
		        			</span>

                    <a href=""><span>more&gt;</span></a>

                </div>
                <ul class="content-list">
                    <li>
                        <a href="">

                            <i>下载工具</i> .<span>这是一个类容模块</span>
                        </a>

                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- footer -->


</div>

</body>
</html>