<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta charset="utf-8">
	<meta name="keywords" content="蓉华官网">
	<meta name="description" content="蓉华官网">
	<title>蓉华官网</title>
	<link rel="stylesheet" type="text/css" href="../css/common.css">
	<script type="text/javascript" src="../js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="../js/rem.js"></script>
</head>
<body>
	<!--  -->
	<div class="wrap">
		<!-- 头部 -->
		<div id="head">
			<div class="header">
		<div class="logo">
			<div class="logo_lef">
				<div class="logo_img">
					<img src="../images/public/logo.png">
				</div>
				<div class="introduce">
					<p>值得信赖的IT机构</p>
					<span>蓉华坚持不贷款，深耕口碑</span>
				</div>
			</div>
			<div class="logo_right">
				<div class="phone_img">
					<img src="../images/public/phone.png">
				</div>
				<div class="phone">
					<a href="tel:028-88888888">
						<p>服务热线</p>
						<span>028-88888888</span>
					</a>
				</div>
			</div>
		</div>
		<div class="nav">
			<a href="/">首页</a>
			<a href="/">测试开发</a>
			<a href="/">师资力量</a>
			<a href="/">就业信息</a>
			<a href="/">关于蓉华</a>
		</div>
	</div>
		</div>
		<!-- <iframe src="./header"></iframe> 
			不能做成响应式的。
		-->
		
		<!-- <script type="text/javascript">
			//$("#head").load("./header.html");
			//webview.getSettings().setAllowUniversalAccessFromFileURLs(true);
		</script>
		涉及跨域问题。
		 -->
		<!-- banner -->


		<!-- footer -->


	</div>

</body>
</html>